

<div class="container-fluid mt-1 pt-3 login">
    <div class="row main-content   text-muted">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form shadow-lg ">
            <div class="container-fluid">
                <div class="row mt-5 text-center">
                    <h2>Create Account</h2>
                </div>
                <div class="row">
                    <form class="form-group" #myref="ngForm" (ngSubmit)="onSubmit(myref.value)">
                       
                        <div class="row">
                            <input type="text" name="name" id="name" class="form__input" placeholder="Name" ngModel>
                        </div>
                        
                        <div class="row">
                            <input type="email" name="emailid" id="emailid" class="form__input" placeholder="Email address" ngModel>
                        </div>


                        <div class="row">
                            <!-- <span class="fa fa-lock"></span> -->
                            <input type="password" name="password" id="password" class="form__input" placeholder="Password" ngModel> 
                        </div>

            
                    

                            <div class="form-group m-2">
                                <label for="exampleFormControlSelect1 m-2" >Career Preferences</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>Medical</option>
                                  <option>Non-medical</option>
                                  <option>Commerce</option>
                                  <option>Humanities</option>
                                  <option>Not decided</option>
                                </select>
                              </div>


                              <div class="form-group m-2">
                                <label for="exampleFormControlSelect1 m-2">Gender Preferences</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>Male</option>
                                  <option>Female</option>
                                  <option>None</option>
                                  
                                </select>
                              </div>




                              <div class="form-group m-2">
                                <label for="exampleFormControlSelect1 m-2">First Language Preference</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>English</option>
                                  <option>Hindi</option>
                                  <option>Telugu</option>
                                  <option>Malyalam</option>
                                  <option>Kannada</option>
                                </select>
                              </div>



                              <div class="form-group m-2">
                                <label for="exampleFormControlSelect1 m-2">Second Language preference</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>English</option>
                                    <option>Hindi</option>
                                    <option>Telugu</option>
                                    <option>Malyalam</option>
                                    <option>Kannada</option>
                                </select>
                              </div>

                              <div class="form-group">
                                <label for="exampleFormControlTextarea1">Hobbies</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                            
                              
                        
                       
                        <div class="row text-center d-block mx-auto ">
                            <button type="submit" class="btn btnsub ">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <p class="text-center" >Sign in? <button class="btn btn-link btn-outline-light" (click)=MoveToLogin()>Click Here</button></p>
                </div>
            
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>